@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: white;
}
/* body .fa-bars{
    display: none;
} */
.header img{
    width: 95px;
}
.header ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 25px;
    font-family: 'raleway';
    align-items: center;
    font-size: 18px;

}
.header ul{
   color: #333333;
}
.header i{
    color: #333333;
}
.blog{
    color: #7C4EE4;   
}
.header button{
    background-color: #7C4EE4;
    border-style: none;
    padding: 16px 48px;
    border-radius: 8px;
    align-items: center;
    color: #FFFFFF;   
}
.p{
    font-weight: 300px;
    font-family: 'roboto' 'regular';
}
.hero{
    display: flex;
    justify-content: space-around;
    background-color: #7C4EE4;
    margin-top: 20px;
    padding: 50px 48px;
    align-items: center;
}
.qoraalka{
    color: white;
}
.qoraalka h1{
    font-size: 62px;
    font-family: 'raleway';
    font-weight: 800px;
    font-style:normal;
}
.qoraalka p{
    font-size: 16px;
    font-family: 'roboto' 'regular';
    font-weight: 400px;
}
.hero img{
    
    width: 608px;
    height: 450px;
    border-radius: 16px;
}
.read{
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 16px 48px; 
    border-style: none;
    margin-top: 15px;
}
.center{
    /* margin-top: 30px; */
    text-align: center;
    justify-content: center;
    background-color: lightgray;
}
.center img{   
width: 900px;
Height:476px;
border-radius: 8px;
margin-top: 30px;

}
.move{
    background-color:white;
  width: 500px;
    /* height: 200px; */
    height: auto;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    color: #333333;
    border-radius: 8px;
    position: relative;
    bottom: 100px;
    left: 487px;
    text-align: left;
    padding: 16px 48px;
    transition: transform 0.4s ease;
    
}
.move:hover{
    transform: scale(1.1);
}
.move h4{
    font-family: 'raleway';
    font-size: 24px;
    font-weight: 700px;
    color: #333333;
    padding-bottom: 5px;
}
.move p{
    font-size: 16px;
    color: #333333;
    font-family: 'roboto' 'regular';
    font-weight: 400px;
    padding-bottom: 8px;
}
.btn2{
    border: 1px solid #7C4EE4;
    padding: 10px 16px;
    border-radius: 8px;
    color: #7C4EE4;
    
}
.span1{
    font-family: 'roboto';
    color: #333333;
    font-weight: bold ;
    font-size: 12px;
    
}
.span2{
    font-family: 'roboto';
    color: #999999;
    font-weight: light;
    font-size: 12px;
}
.head{
    display: flex;
    justify-content: space-between;
    padding: 16px 48px;
    align-items: center;
}
.head h3{
    font-size:48px ;
    font-weight: 700px;
    font-family:'raleway'; 
}
.head button{
    padding: 16px 48px;
    background-color: #7C4EE4;
    border-style: none;
    color: white;
    border-radius: 8px;  
}
.section2{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 20px 100px;
}
.image{
    margin-top: 20px;
    width: 400px;
    Height:300px;
    border-radius: 8px;
}
.sec{
    text-align: left;
    /* padding: 16px 48px; */
    padding: 20px;
}
.sec h4{
    font-family: 'raleway';
    font-size: 32px;
    font-weight: 700px;
    color: #333333;
    padding-bottom: 5px;
}
.sec p{
    font-family: 'raleway' 'regular';
}
.btn3{
    border: 1px solid #7C4EE4;
    padding: 10px 16px;
    border-radius: 8px;
    color: #7C4EE4;
    margin-top: 20px;
}
.section3{
    display: flex;
    /* justify-content:center; */
    padding: 50px 100px;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
}
.section3 img{
width: 250px;
height: 250px;
border-radius: 16px;
}
.pp{
    background-color: white;
    width: 200px;
    height: auto;
    text-align: left;
    padding: 20px 50px;
}
 .section3 h3{
    font-family: 'raleway';
    font-size: 22px;
    font-weight: 600px;
    color: #333333;
    padding-bottom: 5px;
}
.section3 p{
    font-size: 16px;
    color: #333333;
    font-family: 'roboto' 'regular';
    font-weight: 400px;
    padding-bottom: 25px;
}
.section3 a{
    color: #7C4EE4;
    align-items: center;
}
.head2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:16px 48px ;
}
.head2 h3{
    font-size:48px ;
    font-weight: 700px;
    font-family:'raleway'; 
}
.head2 button{
    padding: 16px 48px;
    background-color: #7C4EE4;
    border-style: none;
    color: white;
    border-radius: 8px;  
}
.section4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
 

}


.section4 h3{
    font-family: 'raleway';
    font-size: 22px;
    font-weight: 600px;
    color: #333333;
    padding-bottom: 5px;
}
.section4 p{
    font-size: 16px;
    color: #333333;
    font-family: 'roboto' 'regular';
    font-weight: 400px;
    padding-bottom: 25px;
}
.pi{
    background-color: white;
    width: 200px;
    height: auto;
    text-align: left;
    padding: 20px 50px;
}
.pi img{
    width: 250px;
    height: 250px;
    border-radius: 16px;
    
}
.pi a{
    color: #7C4EE4;
}
.section5{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.pii{
    background-color: white;
    width: 200px;
    height: auto;
    text-align: left;
    padding: 20px 50px;
}
.pii img{
    width: 250px;
    height: 250px;
    border-radius: 16px;
}
.footer{
    background-color: #7C4EE4;
    padding: 20px 100px;
    /* width: 100%; */
    height: auto;
    margin-top: 30px;
    text-align: center;
}
.footer-upper h4{
font-weight: 700px;
font-family: 'raleway';
font-size: 48px;
text-align: center;
color: white;

}
.footer-below{
    display: flex;
    justify-content: center;
    padding: 16px 48px;
    gap: 10px;
}
.footer-below p{
    font-weight: 400px;
    font-family: 'roboto';
    font-size: 16px;
}
.footer-below input{
    border-radius: 8px;
    padding: 10px 16px;
    border-style: none;
    width: 280px;
}
.btn4{
    background: transparent;
    border: 2px solid white;
    padding: 16px 48px;
    border-radius: 8px;
    align-items: center;
    color: white;
}
.footer p{
    color: #999999;
    font-size: 16px;
    font-weight: 400px;
    font-family: 'roboto' 'regular';
    padding-bottom: 20px;
}
.last{
    text-align: center;
    margin-top: 62px;
}
.last img{
    width: 95px;
}
.list1 ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    color: #333333;
    font-family: 'raleway';
}
.list2 ul{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    gap: 20px;
    list-style: none;
   margin-top: 12px;
   margin-bottom: 12px;
}
.list2 i{
    background-color: #7C4EE4;
    border-radius: 50%;
    padding: 8px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 8px;
}
.last hr{
    width: 90%;
    margin: 30px auto 15px;
    border: 1px solid  #7C4EE4 ;
    align-items: center;
}
.last p{
font-size: 16px;
font-weight: 400px;
font-family: 'roboto' 'regular';
margin-bottom: 12px;
}
@media screen and (max-width: 600px) {
  .header {
    padding: 10px 20px;
  }

  .header ul {
    display: none;
  }

  .header button {
    display: none;
  }
.header .fa-bars{
    font-size: 26px;
}
  .hero {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .qoraalka h1 {
    font-size: 28px;
  }

  .hero img {
    width: 100%;
    height: auto;
    margin-top: 15px;
  }

  .center img {
    width:100%;
    height: auto;
    border-radius: 12px;
  }

  .center {
    padding: 10px;
  }
  .center{
    background-color: white;
    box-shadow: 3px 4px 5px rgba(0,0,0,0.4);
    padding: 10px 20px;
  }

  .move {
    width: 100%;
    left: 0;
    bottom: 0;
    position: static;
    padding: 7px;
    margin-top: 12px;
    box-shadow: none;
    background: none;
  }
  .move h4{
    font-size: 22px;
  }
  .move:hover{
    transform: none;
  }
  .section2 h4{
    font-size: 22px;
  }
  .section2 p{
font-size: 16px;
font-weight: 300px;

  }
  .section2,
  .section3,
  .section4,
  .section5 {
    flex-direction: column;
    padding: 10px 20px;
    gap: 20px;
  }
  .image,
  .pi img,
  .pp img,
  .pii img {
    width: 100%;
    height: auto;
  }

  .pp,
  .pi,
  .pii {
    width: 100%;
    padding: 20px;
  }

  .head,
  .head2 {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
.head{
    margin-top: 18px;
}
.head2{
    margin-top: -10px;
}
  .head h3,
  .head2 h3 {
    font-size: 24px;
  }

  .footer-upper h4 {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .footer-below {
    flex-direction: column;
    padding: 0;
    gap: 10px;
  }

  .footer input {
    width: 100%;
  }

  .btn4 {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 8px;
    width: 100px;
    align-content: center;
    margin-left: 50px;
  }

  .last img {
    width: 72px;
  }

  .list1 ul {
    flex-direction: column;
    gap: 8px;
  }

  .list2 {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  .last hr {
    width: 100%;
  }
}

